@import "../../../../../assets/styles/variables";

.search {
  @include glassEffect;
  border-radius: 30px;
  width: 100%;
  padding: 0 1rem;
  border: 1px solid transparent;
  transition: border .4s ease;
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  &:focus-within {
    border-color: rgba($accent, 0.4);
  }

  >span {
    margin-right: 5px;
    color: $white;
  }

  >input {
    padding: 1rem 0;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    color: $white;

    &::placeholder {
      color: $white;
    }
  }
}